@charset "UTF-8";
/*
  fundation
********************************/
/* ==========================================================================================================
  変数
  =========================================================================================================== */
/* ==========================================================================================================
  Break Points
  =========================================================================================================== */
/* ==========================================================================================================
  Containerレイアウト
  =========================================================================================================== */
/* ==========================================================================================================
  画面幅に合わせて拡大
  ========================================================================================================== */
/* ==========================================================================================================
  Gridレイアウト
  =========================================================================================================== */
/* Gap
   ---------------------------------------------------------------------------------------------------------- */
/* Gapをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* Grid Columns
   ---------------------------------------------------------------------------------------------------------- */
/* Grid Columnsをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* Grid Columns Span
--------------------------------------------- */
/* col-spanをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* ------------ col-start --------------- */
/* col-startをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* ------------ col-end --------------- */
/* col-endをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* Grid rows
   ---------------------------------------------------------------------------------------------------------- */
/* Grid rowsをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* Grid Rows Span
   ---------------------------------------------------------------------------------------------------------- */
/* row-spanをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* ------------ row-start --------------- */
/* row-startをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* ------------ row-end --------------- */
/* row-endをループですべて作成する場合、下記を有効化 */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* ==========================================================================================================
  hoverアクション
  =========================================================================================================== */
/* ==========================================================================================================
  Cardレイアウト
  =========================================================================================================== */
/* Card
   ---------------------------------------------------------------------------------------------------------- */
/* ==========================================================================================================
  Buttonレイアウト
  =========================================================================================================== */
/* Button
   ---------------------------------------------------------------------------------------------------------- */
/* ==========================================================================================================
  hoverアクション
  =========================================================================================================== */
/* ==========================================================================================================
  サイトのベーススタイル(タグ指定)
  JavaScript使用のスタイル
  =========================================================================================================== */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 4rem;
  }
}

body {
  color: #3b3b3b;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  background-color: #f8f8f8;
  line-height: 2;
  font-feature-settings: "palt";
  overflow-x: clip;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }
}

input[type=checkbox],
input[type=radio] {
  -webkit-appearance: revert;
     -moz-appearance: revert;
          appearance: revert;
}

/**********************************************
  リセットCSS
**********************************************/
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*
  layout
********************************/
/* ==========================================================================================================
  headerレイアウト
  =========================================================================================================== */
.l-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 6rem;
  transition: all 0.3s;
}
.l-header.is-active {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .l-header {
    height: 4rem;
  }
}
.l-header__wrapper {
  width: 100%;
  padding-inline: 2rem;
}
@media screen and (max-width: 768px) {
  .l-header__wrapper {
    padding-inline: 1rem;
  }
}
.l-header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.l-header__brandingTitle {
  font-size: 1.5rem;
  font-family: "Rubik Dirt", system-ui, sans-serif;
  font-weight: normal;
  color: #1C75BC;
}
.l-header__brandingTitle:hover {
  opacity: 0.7;
}

/* ==========================================================================================================
  footer
  =========================================================================================================== */
.l-footer {
  background-color: #3b3b3b;
  color: #fff;
  text-align: center;
  padding-block: 5rem;
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding-block: 3rem;
  }
}

/* ==========================================================================================================
  container
  =========================================================================================================== */
.l-container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 80rem;
}
@media screen and (max-width: 768px) {
  .l-container {
    padding-inline: 1rem;
  }
}

.l-container__wrapper {
  padding-inline: 2rem;
}
@media screen and (max-width: 768px) {
  .l-container__wrapper {
    padding-inline: 1rem;
  }
}

/* ==========================================================================================================
  sectionレイアウト
  =========================================================================================================== */
.l-section {
  padding-block: 8rem;
}
.l-section:first-of-type {
  padding-top: 0;
}
.l-section:nth-of-type(even) {
  background-color: #3b3b3b;
}
.l-section:nth-of-type(even) .l-section__sepa-title {
  color: #fff;
  right: 0;
  left: auto;
  overflow: hidden;
}
.l-section:nth-of-type(even) .l-section__title {
  color: #fff;
}
.l-section__wrapper {
  position: relative;
}
.l-section__sepa-title {
  position: absolute;
  font-size: clamp(4rem, 3.091rem + 4.55vw, 6rem);
  color: #1C75BC;
  opacity: 0.85;
  font-family: "Rubik Dirt", system-ui, sans-serif;
  top: 0;
  left: 0;
  line-height: 1;
  transform: translateY(-100%);
}
.l-section__header {
  text-align: center;
}
.l-section__title {
  font-weight: bold;
  color: #1C75BC;
}
.l-section__title--ja {
  font-size: clamp(2.074rem, 1.923rem + 0.75vw, 2.488rem);
}
.l-section__title--en {
  opacity: 0.7;
}
.l-section__body {
  margin-top: 4rem;
}

/*
  object
********************************/
/* ==========================================================================================================
  gnav
  =========================================================================================================== */
@media screen and (max-width: 768px) {
  .c-gnav {
    display: none;
  }
}
.c-gnav__list {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
}
.c-gnav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-gnav__link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
  text-decoration: none;
  color: #3b3b3b;
  padding-left: 1rem;
  padding-right: 1rem;
}
.c-gnav__link::before, .c-gnav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background: #1C75BC;
  transform: translateX(-105%);
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
}
.c-gnav__link:hover {
  color: #1C75BC;
  opacity: 0.7;
}
.c-gnav__link:hover::before {
  transform: translateX(0);
  transition-delay: 0.2s;
}
.c-gnav__link:hover::after {
  transform: translateX(100%);
}

/* ==========================================================================================================
  hamburger
  =========================================================================================================== */
.c-hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4rem;
  background-color: #1C75BC;
  transition: all 0.6s;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .c-hamburger {
    display: block;
  }
}
.c-hamburger span {
  height: 3px;
  width: 50%;
  border-radius: 999px;
  background: #fff;
  position: absolute;
  transition: all 0.6s;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.c-hamburger span:first-child {
  top: 25%;
}
.c-hamburger span:last-child {
  top: 75%;
}
.c-hamburger.is-active {
  background-color: #f8f8f8;
}
.c-hamburger.is-active span {
  background: #1C75BC;
}
.c-hamburger.is-active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-hamburger.is-active span:nth-of-type(2) {
  opacity: 0;
}
.c-hamburger.is-active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ==========================================================================================================
  sp gnav
  =========================================================================================================== */
.c-sp-gnav {
  display: none;
}
@media screen and (max-width: 768px) {
  .c-sp-gnav {
    display: block;
  }
}
.c-sp-gnav__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #c4c4c4;
  opacity: 0.5;
  transition-duration: 1s;
  opacity: 0;
  visibility: hidden;
}
.c-sp-gnav__mask.is-active {
  opacity: 0.5;
  visibility: visible;
}
.c-sp-gnav__list {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  z-index: 10;
  transform: translateX(100%);
}
.c-sp-gnav__list.is-active {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.c-sp-gnav__item {
  text-align: center;
  background-color: #f8f8f8;
  transition: all 0.6s;
}
.c-sp-gnav__item:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 0 #1C75BC;
  border: 1px solid #1C75BC;
}
.c-sp-gnav__link {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

/* ==========================================================================================================
  Button
  =========================================================================================================== */
.c-cta {
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 4rem;
  border-radius: 999px;
  text-align: center;
  background-color: #F9A638;
  box-shadow: 0px 10px #cf7500;
  transition-duration: 0.6s;
}
.c-cta:hover {
  transform: translateY(8px);
  box-shadow: 0px 2px #cf7500;
}
@media screen and (max-width: 431px) {
  .c-cta {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;
    border-radius: 999px;
    text-align: center;
    background-color: #F9A638;
    box-shadow: 0px 10px #cf7500;
    transition-duration: 0.6s;
  }
  .c-cta:hover {
    transform: translateY(8px);
    box-shadow: 0px 2px #cf7500;
  }
}

.c-btn {
  margin-inline: auto;
  color: #3b3b3b;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 999px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #1C75BC;
  position: relative;
}
.c-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background-color: #1C75BC;
  border-radius: 9999px;
  transition-duration: 0.5s;
}
.c-btn span {
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  z-index: 2;
}
.c-btn:hover span {
  color: #fff;
}
.c-btn:hover::before {
  width: 100%;
}

.c-btn--orange {
  border-color: #cf7500;
  color: #cf7500;
}
.c-btn--orange::before {
  background-color: #cf7500;
}

.c-btn--dark {
  border-color: #3b3b3b;
}
.c-btn--dark::before {
  background-color: #3b3b3b;
}

/* ==========================================================================================================
  Accordion
  =========================================================================================================== */
.c-accordion__item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 100%;
  background-color: #fff;
}
.c-accordion__parent {
  padding: 20px;
  padding-right: 52px;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
}
.c-accordion__parent:hover {
  cursor: pointer;
}
.c-accordion__parent::before {
  content: "+";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center center;
  transition: all 0.2s linear 0s;
  font-size: 24px;
  font-weight: 400;
}
.c-accordion__parent span {
  display: inline-block;
  color: #1C75BC;
  font-weight: bold;
  margin-right: 1rem;
}
.c-accordion__parent.is-on::before {
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center center;
}
.c-accordion__parent.is-on::after {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  height: 1px;
  background: #ccc;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.c-accordion__child {
  overflow: hidden;
  max-height: 0;
  padding: 0 1.25rem;
  display: flex;
}
.c-accordion__child span {
  display: inline-block;
  color: #1C75BC;
  font-weight: bold;
  margin-right: 1rem;
}
.c-accordion .c-accordion__parent.is-on + .c-accordion__child {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  max-height: 1000px;
  padding-block: 1.25rem;
}

/*全共通*/
.c-bg-extend {
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
  transition: all 1s ease-in-out;
}

/*中の要素*/
.c-bg-appear img {
  transition: all 0.6s ease-in-out;
  transition-delay: 0.6s;
  opacity: 0;
}

.c-bg-extend.is-active {
  opacity: 1;
}

.c-bg-extend.is-active .c-bg-appear img {
  opacity: 1;
}

.c-bg-extend.is-active .c-bg-appear::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1C75BC; /*伸びる背景色の設定*/
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
/* ==========================================================================================================
  card
  =========================================================================================================== */
.c-card__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .c-card__title {
    font-size: 1rem;
  }
}

.c-card__tag {
  margin-top: 1rem;
}

.c-card__tag-item {
  background-color: #1C75BC;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/**********************************************
  ページャースタイル
**********************************************/
.pager {
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .pager {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
  }
}
.pager__item {
  text-align: center;
  overflow: hidden;
  grid-column: span 1/span 1;
}
.pager__link {
  display: block;
  padding: 0.5rem 2rem;
  background-color: #F3F3F3;
  transition-duration: 0.6s;
}
.pager__link:hover {
  background-color: #1C75BC;
  color: #fff;
}

/* ==========================================================================================================
  FV
  =========================================================================================================== */
.p-fv {
  height: calc(100vh - 6rem);
}
@media screen and (max-width: 768px) {
  .p-fv {
    height: calc(100vh - 4rem);
  }
}
.p-fv__particle {
  position: fixed; /*描画固定*/
  z-index: -1; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.p-fv__wrapper {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
}
@media screen and (max-width: 768px) {
  .p-fv__wrapper {
    padding-inline: 1rem;
  }
}
.p-fv__text {
  text-align: center;
}
.p-fv__title {
  font-size: clamp(2rem, 1.289rem + 3.56vw, 4rem);
  font-style: italic;
  font-weight: bold;
  color: #3b3b3b;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.p-fv__title.is-load {
  opacity: 1;
  visibility: visible;
}
.p-fv__title span {
  background-color: #fff;
  margin-top: 0.5rem;
  display: inline-block;
}
.p-fv__title span:first-of-type {
  margin-top: 0;
}
.p-fv__description {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  transition-delay: 0.4s;
}
.p-fv__description.is-load {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 431px) {
  .p-fv__description {
    font-size: 1rem;
  }
}
.p-fv__btn {
  margin-top: 30px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  transform: translateY(2rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  transition-delay: 0.8s;
}
.p-fv__btn.is-load {
  transform: none;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 431px) {
  .p-fv__btn {
    font-size: 1rem;
  }
}

/* ==========================================================================================================
  service
  =========================================================================================================== */
.p-service__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .p-service__grid {
    gap: 5rem;
  }
}

.p-service-item {
  position: relative;
  grid-column: span 1/span 1;
  padding-block: 3rem;
}
@media screen and (max-width: 768px) {
  .p-service-item {
    height: 100%;
  }
}
.p-service-item::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  background-color: #edf8fd;
  top: 0;
}
.p-service-item:nth-of-type(odd)::before {
  right: 0;
}
.p-service-item:nth-of-type(odd) .p-service-item__number {
  left: auto;
  right: 0;
}
@media screen and (max-width: 768px) {
  .p-service-item:nth-of-type(even) {
    display: block;
  }
}
.p-service-item:nth-of-type(even) .p-service-item__flex {
  justify-content: flex-end;
}
.p-service-item:nth-of-type(even) .p-service-item__text-area {
  left: 1.5rem;
  right: auto;
}
@media screen and (max-width: 768px) {
  .p-service-item:nth-of-type(even) .p-service-item__text-area {
    left: 0;
  }
}
.p-service-item.is-active::before {
  opacity: 1;
  visibility: visible;
}
.p-service-item.is-active:nth-of-type(odd)::before {
  opacity: 1;
  visibility: visible;
}
.p-service-item.is-active .p-service-item__number {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.p-service-item__number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10rem;
  font-weight: bold;
  color: #1C75BC;
  font-family: "Protest Guerrilla", sans-serif;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
  transition: all 0.6s;
  transition-delay: 0.5s;
}
@media screen and (max-width: 768px) {
  .p-service-item__number {
    font-size: 8rem;
    top: -3rem;
  }
}
.p-service-item__flex {
  display: flex;
}
@media screen and (max-width: 768px) {
  .p-service-item__flex {
    flex-direction: column;
  }
}
.p-service-item__img-area {
  overflow: hidden;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .p-service-item__img-area {
    width: 100%;
    margin-left: calc(50% - 50vw);
    width: 100vw;
  }
}
.p-service-item__text-area {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 50%;
  min-width: 500px;
  line-height: 1.5;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 5px rgba(172, 172, 172, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  transition-delay: 0.5s;
}
@media screen and (max-width: 768px) {
  .p-service-item__text-area {
    position: static;
    width: 100%;
    min-width: auto;
    transform: translateY(-1rem);
  }
}
.p-service-item__text-area.is-active {
  opacity: 1;
  visibility: visible;
}
.p-service-item__text {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .p-service-item__text {
    text-align: center;
  }
}
.p-service-item__title {
  color: #1C75BC;
  font-weight: bold;
  font-size: clamp(1.7rem, 1.593rem + 0.53vw, 2rem);
}
.p-service-item__description {
  margin-top: 1.5rem;
}
.p-service-item__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* ==========================================================================================================
  Works
  =========================================================================================================== */
.p-work__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .p-work__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
}
.p-work__grid-item {
  grid-column: span 1/span 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
  transition: all 0.6s;
}
.p-work__grid-item.is-active {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.p-work__btn {
  margin: 2rem auto;
}

/* ==========================================================================================================
  Skill
  =========================================================================================================== */
.p-skill__grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .p-skill__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}
@media screen and (max-width: 431px) {
  .p-skill__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }
}
.p-skill__grid-item {
  grid-column: span 1/span 1;
}

.p-skill-card {
  box-shadow: 0 0 10px #fff;
  background-color: #fff;
  padding: 1rem;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.p-skill-card.is-active {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.p-skill-card__img {
  width: 3rem;
  margin-inline: auto;
}
.p-skill-card__title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #1C75BC;
  line-height: 1;
}
.p-skill-card__year {
  margin-top: 1rem;
  line-height: 1;
}
.p-skill-card__level {
  margin-top: 1rem;
  line-height: 1;
}
.p-skill-card__star {
  color: #1C75BC;
}

/* ==========================================================================================================
  Price
  =========================================================================================================== */
.p-price__header {
  display: flex;
  justify-content: center;
}
.p-price__title {
  font-size: 1.5rem;
  line-height: 1;
  padding-bottom: 1rem;
  text-align: center;
  width: 50%;
  cursor: pointer;
}
.p-price__title.is-active {
  font-weight: bold;
  border-bottom: 2px solid #1C75BC;
}
.p-price__body {
  margin-top: 2rem;
}

.p-coding {
  overflow-x: auto;
  display: none;
}
.p-coding.is-active {
  display: block;
  animation: active-price 0.5s ease-in-out;
}
@keyframes active-price {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.p-coding__table {
  width: 100%;
  min-width: 35rem;
  border-collapse: collapse;
  border-spacing: 0;
}
.p-coding__table thead tr {
  border-bottom: 1px solid #ccc;
}
.p-coding__table thead th {
  background-color: #1C75BC;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border-right: 1px solid #ccc;
}
.p-coding__table tbody tr {
  border-bottom: 1px solid #ccc;
}
.p-coding__table tbody tr:last-of-type {
  border-bottom: none;
}
.p-coding__table tbody th {
  background-color: #1C75BC;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border-right: 1px solid #ccc;
}
.p-coding__table tbody td {
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  border-right: 1px solid #ccc;
}
.p-coding__table tbody td:last-of-type {
  text-align: left;
  border-right: none;
}

.p-web {
  display: none;
}
.p-web.is-active {
  display: block;
  animation: active-price 0.5s ease-in-out;
}
@keyframes active-price {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.p-web__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .p-web__list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.p-web__item {
  grid-column: span 1/span 1;
  padding: 2rem;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .p-web__item {
    width: 100%;
  }
}
.p-web__header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.p-web__title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}
.p-web__price {
  font-size: 1rem;
  line-height: 1;
  padding-block: 1rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.p-web__price-title:not(:first-of-type) {
  margin-top: 1rem;
}
.p-web__price-price {
  font-size: 2rem;
  font-weight: bold;
  color: #1C75BC;
  margin-top: 0.75rem;
}
.p-web__point {
  font-size: 1rem;
  line-height: 1.5;
  padding-block: 1rem;
  border-bottom: 1px solid #ccc;
}
.p-web__point-title {
  font-weight: bold;
  text-align: center;
}
.p-web__point-text {
  margin-top: 1rem;
  text-align: center;
}
.p-web__production {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}
.p-web__production-title {
  font-weight: bold;
  text-align: center;
}
.p-web__production-item {
  margin-top: 1rem;
  text-align: center;
}
.p-web__production-item i {
  color: #1C75BC;
}
.p-web__footer {
  margin-top: 2rem;
}

/* ==========================================================================================================
  Flow
  =========================================================================================================== */
.p-flow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-flow__list {
  padding-left: 0;
}
.p-flow__item {
  list-style-type: none;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
  transition: all 0.6s;
}
.p-flow__item:not(:last-child) {
  margin-bottom: 3.125rem;
}
.p-flow__item.is-active {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.p-flow__icon {
  width: 5.625rem;
  box-sizing: border-box;
  padding: 1.25rem 0.625rem 0.625rem;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  background: #1C75BC;
  border-radius: 5px 5px 0 0;
  position: relative;
  line-height: 125%;
  margin: 0;
}
.p-flow__icon::after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 20px solid #1C75BC;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.p-flow__data-list {
  padding-left: 30px;
  width: calc(100% - 115px);
}
.p-flow__data-title {
  padding: 0 0 5px;
  margin: 0 0 15px;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 4px solid #CCCCCC;
  position: relative;
  color: #fff;
}
.p-flow__data-title::after {
  content: "";
  width: 20%;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #1C75BC;
}
.p-flow__data-text {
  margin: 0;
  color: #fff;
}

/* ==========================================================================================================
  Profile
  =========================================================================================================== */
.p-profile {
  color: #fff;
}
.p-profile .wp-block-column svg {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .wp-block-image .aligncenter {
    max-width: 50%;
  }
}

/* ==========================================================================================================
  Contact
  =========================================================================================================== */
.p-contact__item {
  margin-top: 2rem;
}

.p-contact__text {
  margin-top: 2rem;
  text-align: center;
}

.p-contact__text-list {
  font-weight: bold;
  font-size: 1.25rem;
}

/* ==========================================================================================================
  Loading
  =========================================================================================================== */
.p-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.p-loader.is-loaded {
  opacity: 0;
  visibility: hidden;
}

.p-loader__item {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}

.p-loader__item::before {
  content: "NAKAHARA PORTFOLIO";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}
/* ==========================================================================================================
  projectレイアウト
  =========================================================================================================== */
/*
archive header
-------------------------------------------------- */
.p-archive__header {
  padding: 1.25rem 0;
}
.p-archive__title {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3px solid #1C75BC;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .p-archive__title {
    font-size: 1.625rem;
  }
}

/*
archive body
-------------------------------------------------- */
.p-archive__body {
  margin-top: 2rem;
}

.p-archive__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .p-archive__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
}

.p-archive__grid-item {
  grid-column: span 1/span 1;
}

/* ==========================================================================================================
  single.php page.php 共通レイアウト
  =========================================================================================================== */
.p-article {
  background-color: #fff;
}

.p-article__header {
  padding-block: 2rem;
}

.p-article__meta {
  text-align: center;
  font-size: 0.875rem;
  color: #6d6d6d;
}

.p-article__title {
  font-weight: bold;
  font-size: 1.625rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-article__title {
    font-size: 1.5rem;
  }
}

.p-article__thumbnail {
  width: 100%;
  text-align: center;
}

.p-article__body {
  padding: 3rem 5%;
}

.p-article__body .wp-block-heading,
.p-article__body .wp-block-image,
.p-article__body .wp-block-table,
.p-article__body p,
.p-article__body a,
.p-article__body ul, .p-article__body ol,
.p-article__body nav {
  margin-top: 2rem;
}

.p-article__body .wp-block-heading {
  font-weight: bold;
}

.p-article__body h2.wp-block-heading {
  font-size: 1.5rem;
  background: #f7f7f7;
  font-weight: normal;
  padding: 20px 15px 18px;
  border-left: 9px solid #1C75BC;
  line-height: 40px;
}
@media screen and (max-width: 768px) {
  .p-article__body h2.wp-block-heading {
    font-size: 1.375rem;
  }
}
.p-article__body h2.wp-block-heading:first-of-type {
  margin-top: 0;
}

.p-article__body h3.wp-block-heading {
  font-size: 1.25rem;
  letter-spacing: 1.6px;
  padding: 0 15px;
  border-left: 9px solid #1C75BC;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .p-article__body h3.wp-block-heading {
    font-size: 1.125rem;
  }
}

.p-article__body h4.wp-block-heading {
  font-size: 1.125rem;
  letter-spacing: 1.6px;
  padding: 0 10px;
  border-bottom: 0.2rem solid #1C75BC;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .p-article__body h4.wp-block-heading {
    font-size: 1rem;
  }
}

.p-article__body h5.wp-block-heading {
  letter-spacing: 1.6px;
  padding: 0 10px;
  border-bottom: 1px solid #1C75BC;
  line-height: 2;
}

.p-article__body h6.wp-block-heading {
  letter-spacing: 1.6px;
  padding: 0 10px;
  border-bottom: 1px dashed #1C75BC;
  line-height: 2;
}

.p-article__body .wp-block-image {
  border: none;
  width: 100%;
  padding-inline: 2rem;
}

.p-article__body ul,
.p-article__body ol {
  padding-left: 40px;
  padding-right: 10px;
  list-style: inside;
  list-style-position: inside;
}

.p-article__body ul ul,
.p-article__body ul ol,
.p-article__body ol ul,
.p-article__body ol ol {
  margin-top: 10px;
  list-style-type: circle;
}

.p-article__body ul ul ul,
.p-article__body ul ul ol,
.p-article__body ul ol ul,
.p-article__body ul ol ol,
.p-article__body ol ul ul,
.p-article__body ol ul ol,
.p-article__body ol ol ul,
.p-article__body ol ol ol {
  margin-top: 10px;
  list-style-type: square;
}

.p-article__body ul li,
.p-article__body ol li {
  margin-bottom: 10px;
}

.p-article__body nav {
  margin-top: 60px;
}

/**********************************************
  singleページ　footerブロック
**********************************************/
.article__footer {
  padding: 2rem 1.5rem;
} 
/* ==========================================================================================================
  カラースタイル
  =========================================================================================================== */
.u-text-blue {
  color: #1C75BC !important;
}

.u-bg-none {
  background-color: transparent !important;
}

.u-text-white {
  color: #fff;
}

/* ==========================================================================================================
  テキストポジション
  =========================================================================================================== */
.u-position-right {
  right: 2rem;
}
@media screen and (max-width: 768px) {
  .u-position-right {
    right: 1rem;
  }
}

/* ==========================================================================================================
  パディング
  =========================================================================================================== */
.u-padding-none {
  padding: 0;
}

/* ==========================================================================================================
  SPアクティブ
  =========================================================================================================== */
.u-sp-active {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-sp-active {
    display: block;
  }
}

/*
plugin
********************************/
/* ======================================
* mw_wp_formプラグインスタイル
* =================================== */
.mw_wp_form .attention {
  color: red; /* アスタリスクを赤色に */
}
.mw_wp_form .must {
  color: rgb(253, 25, 93);
  padding-left: 1rem;
}
.mw_wp_form input {
  -webkit-appearance: revert;
     -moz-appearance: revert;
          appearance: revert;
}
.mw_wp_form input[type=text], .mw_wp_form input[type=email], .mw_wp_form textarea {
  width: 100%; /* 記入欄を画面サイズいっぱいにする */
  border: 1px solid #3b3b3b;
  border-radius: 0.25rem;
  padding: 5px;
}
.mw_wp_form input[type=text], .mw_wp_form input[type=email] {
  width: 100%;
}
@media screen and (max-width: ) {
  .mw_wp_form input[type=text], .mw_wp_form input[type=email] {
    width: 50%;
  }
}
.mw_wp_form input[type=radio], .mw_wp_form input[type=check] {
  cursor: pointer;
}
.mw_wp_form input[type=submit] {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding-block: 1rem;
  border: 1px solid #1C75BC;
  border-radius: 999px;
  background-color: #1C75BC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
  margin-inline: auto;
}
.mw_wp_form input[type=submit]:hover {
  background-color: #fff;
  color: #1C75BC;
}
@media screen and (max-width: 768px) {
  .mw_wp_form input[type=submit] {
    width: 100%;
  }
}
.mw_wp_form p {
  font-weight: bold; /* 項目名を太字 */
  padding-bottom: 20px; /* 項目の間に余白を設置 */
  margin-top: 0 !important;
}
.mw_wp_form p:last-of-type {
  text-align: center;
}

.wp-pagenavi {
  text-align: center;
}

.wp-pagenavi span.current,
.page.smaller,
.page.larger,
.nextpostslink,
.previouspostslink {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0;
  background: #1C75BC;
  color: #FFFFFF;
  border-radius: 50%;
  border: none;
}

/* 共通スタイル*/
.page.smaller,
.page.larger {
  background: #fff;
  color: #1C75BC;
  border: 1px solid #1C75BC;
  padding: 0;
}

/* 現在ページより前のボタン */
.page.smaller {
  margin-right: 25px;
}

/* 現在ページより後のボタン */
.page.larger {
  margin-left: 25px;
}

.wp-pagenavi a:hover {
  color: #FFF;
  background-color: #999;
  border: 1px solid #999 !important;
}

.nextpostslink,
.previouspostslink {
  line-height: 40px;
  border: 1px solid #1C75BC !important;
  color: #1C75BC !important;
  position: relative;
  background: #fff;
  color: #1C75BC;
  top: -3px;
}

.nextpostslink {
  left: 25px;
}

.previouspostslink {
  right: 25px;
}

.nextpostslink::before,
.previouspostslink::after {
  content: "";
  width: 0.5px;
  height: 40px;
  background-color: rgb(224, 215, 215);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nextpostslink::before {
  left: -15px;
}

.previouspostslink::after {
  right: -15px;
}

/* 〇/〇 の部分のスタイル → 不要の場合は非表示 */
.pages {
  display: none;
}

.xo-event-calendar table.xo-month button {
  text-align: center;
}
.xo-event-calendar table.xo-month button span.nav-prev {
  border-color: #3b3b3b;
  border-top: none;
  border-right: none;
  transition-duration: 0.6s;
}
.xo-event-calendar table.xo-month button span.nav-next {
  border-color: #3b3b3b;
  border-bottom: none;
  border-left: none;
  transition-duration: 0.6s;
}
.xo-event-calendar table.xo-month button:hover span.nav-prev,
.xo-event-calendar table.xo-month button:hover span.nav-next {
  opacity: 0.7;
}
.xo-event-calendar table.xo-month .month-dayname td div {
  border: none;
}/*# sourceMappingURL=style.css.map */