@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;

/* ==========================================================================================================
  Button
  =========================================================================================================== */
.c-cta {
  @include push-btn(30rem, 4rem, 999px, #fff, $accent-color, #cf7500, $duration-time);
  @include mq(sp) {
    @include push-btn(20rem, 3rem, 999px, #fff, $accent-color, #cf7500, $duration-time);
  }
}

.c-btn {
  @include coloring-btn(30rem, 4rem, 999px, .5s);
}

.c-btn--orange {
  border-color: #cf7500;
  color: #cf7500;
  &::before {
    background-color: #cf7500;
  }
}

.c-btn--dark {
  border-color: $dark-color;
  &::before {
    background-color: $dark-color;
  }
}