@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;

/* ==========================================================================================================
  gnav
  =========================================================================================================== */
.c-gnav {

  @include mq(md) {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__link {
    @include link-line-trans();
    text-decoration: none;
    color: $text-color;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* ==========================================================================================================
  hamburger
  =========================================================================================================== */  

/* ==========================================================================================================
  gnavSp
  =========================================================================================================== */
.c-gnavSp {
  display: none;

  @include mq(md) {
    display: block;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #c4c4c4;
    opacity: .5;
    transition-duration: 1s;
    opacity: 0;
    visibility: hidden;
    
  }

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: calc($header-height / 2);
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 999px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1, 0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
    transform: translateY(-50%);
    z-index: 20;
    @include mq(md) {
      top: calc($sp-header-height / 2);
    }
  }

  
  &__hamburger {
    position: relative;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
    
    span {
      height: 3px;
      width: 1.5rem;
      border-radius: 999px;
      background: $main-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all $duration-time;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: 100%;
      }
    }

    &.is-active span {

      &:nth-of-type(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: $base-color;
    opacity: 0;
    visibility: hidden;
    transition: all $duration-time;
    z-index: 10;
    &.is-active {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
  }

  &__list {
    list-style: none;
    text-align: center;
    background-color: $main-color;
    transition-duration: $duration-time;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item {
    padding: 1rem;
    background-color: $base-color;
    transition: all $duration-time;
    &:hover {
      transform: translate(10px, 10px);
    }
  }

  &__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}