@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;

/* ==========================================================================================================
  カラースタイル
  =========================================================================================================== */
.u-text-blue {
  color: $main-color !important;
}

.u-bg-none {
  background-color: transparent !important;
}

.u-text-white {
  color: #fff;
}