@use '../setting/config' as *;
@use 'hover' as *;
@use 'grid' as *;

/**********************************************
  Card
**********************************************/
@mixin card() {
  overflow: hidden;
  // border-radius: $border-radius;
  // box-shadow: 0.125rem 0.125rem 0.25rem $shadow-color;
  background-color: white;
  padding: 3rem 0;

  &__img {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // display: block;
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  &__body {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__tag {
    margin-top: 2rem;
    display: block;
  }

  &__title {
    font-weight: bold;
    font-size: 1.125rem;
    margin-top: 1rem;
    // margin: 1rem 0;
  }

  &__text {
    text-align: left;
  }

  &__link {
    @include hover-pale();
    @include hover-text-decoration();
  }

  &__btn {
    margin: 0 auto;
    width: 60%;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    border: 1px solid $border-color;
    a {
      @include hover-text-decoration();
    }
  }
}