@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;

/* ==========================================================================================================
  FV
  =========================================================================================================== */

.p-fv {
  height: calc(100vh - #{$header-height});
  @include mq(md) {
    height: calc(100vh - #{$sp-header-height});
  }

  &__particle {
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__wrapper {
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
    // padding-top: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    @include wrapper($container-width);
    @include mq(md) {
      // padding-top: $sp-header-height;
    }
  }

  &__text {
    text-align: center;
  }

  &__title {
    font-size: clamp(2rem, 1.289rem + 3.56vw, 4rem);
    font-style: italic;
    font-weight: bold;
    color: $text-color;
    line-height: 1;
    // transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all $duration-time;
    &.is-load {
      // transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    @include mq(md) {
      // text-align: center;
    }

    span {
      background-color: #fff;
      margin-top: .5rem;
      display: inline-block;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &__description {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7;
    // transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all $duration-time;
    transition-delay: .4s;
    &.is-load {
      // transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    @include mq(sp) {
      font-size: 1rem;
    }
  }

  &__btn {
    margin-top: 30px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    transform: translateY(2rem);
    opacity: 0;
    visibility: hidden;
    transition: all $duration-time;
    transition-delay: .8s;
    &.is-load {
      transform: none;
      opacity: 1;
      visibility: visible;
    }
    @include mq(sp) {
      font-size: 1rem;
    }
  }
}

/* ==========================================================================================================
  service
  =========================================================================================================== */
.p-service__grid {
  @include grid-cols(1);
  @include gap(80);
  @include mq(md) {
    @include gap(80);
  }
}

.p-service-item {
  position: relative;
  @include col-span(1);
  // height: 30.5rem;
  @include mq(md) {
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
    height: calc(100% + 10rem);
    background-color: $bg-dark-color;
    z-index: -1;
    clip-path: polygon(0 20%, 0 0, 0 100%, 0 80%);
    // clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    // transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all $duration-time;
    @include expand();
  }
  
  &:nth-of-type(odd) {
    &::before {
      // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(28,117,188,1) 100%);
      clip-path: polygon(100% 20%, 100% 0, 100% 100%, 100% 80%);
      // clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    }
  }
  
  &:nth-of-type(even) {
    @include mq(md) {
      display: block;
    }

    .p-service-item__flex {
      justify-content: flex-end;
    }


    .p-service-item__text-area {
      left: 1.5rem;
      right: auto;
      @include mq(md) {
        left: 0;
      }
    }
  }

  &.is-active {
    &::before {
      opacity: 1;
      visibility: visible;
      clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    }
    &:nth-of-type(odd) {
      &::before {
        opacity: 1;
        visibility: visible;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
      }

    }
  }

  &__flex {
    display: flex;

    @include mq(md) {
      // display: block;
      flex-direction: column;
    }
  }

  &__img-area {
    overflow: hidden;
    width: 60%;
    @include mq(md) {
      width: 100%;
      @include expand();
    }
  }
  
  &__text-area {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 50%;
    min-width: 500px;
    line-height: 1.5;
    // bottom: -1rem;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 5px rgba(172, 172, 172, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    transition-delay: .5s;
    @include mq(md) {
      position: static;
      // top: auto;
      // bottom: -1rem;
      // right: 0;
      width: 100%;
      min-width: auto;
      transform: translateY(-1rem);
    }
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__text {
    text-align: left;
    // font-weight: bold;
    @include mq(md) {
      text-align: center;
    }
  }
  &__title {
    color: $main-color;
    font-weight: bold;
    font-size: clamp(1.7rem, 1.593rem + 0.53vw, 2rem);
  }

  &__description {
    margin-top: 1.5rem;
  }

  &__btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

/* ==========================================================================================================
  Works
  =========================================================================================================== */
.p-work {

  &__grid {
    @include grid-cols(2);
    @include gap(48);
    @include mq(md) {
      @include grid-cols(1);
      @include gap(16);
    }
  }

  &__grid-item {
    @include col-span(1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
    transition: all $duration-time;
    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}

/* ==========================================================================================================
  Skill
  =========================================================================================================== */
.p-skill {
  &__grid {
    @include grid-cols(5);
    @include gap(32);
    @include mq(md) {
      @include grid-cols(3);
      @include gap(16);
    }
    @include mq(sp) {
      @include grid-cols(2);
      @include gap(8);
    }
  }

  &__grid-item {
    @include col-span(1);
  }

}

.p-skill-card {
  box-shadow: 0 0 10px #fff;
  background-color: #fff;
  padding: 1rem;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all $duration-time;
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
  
  &__img {
    width: 3rem;
    margin-inline: auto;
  }

  &__title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: $main-color;
    line-height: 1;
  }
  
  &__year {
    margin-top: 1rem;
    line-height: 1;
  }
  
  &__level {
    margin-top: 1rem;
    line-height: 1;
  }

  &__star {
    color: $main-color;
  }
}

/* ==========================================================================================================
  Price
  =========================================================================================================== */
.p-price {
  &__header {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 1.5rem;
    // color: $main-color;
    line-height: 1;
    padding-bottom: 1rem;
    text-align: center;
    width: 50%;
    cursor: pointer;
    
    &.is-active {
      font-weight: bold;
      border-bottom: 2px solid $main-color;
    }
  }

  &__body {
    margin-top: 2rem;
  }
}
.p-coding {
  overflow-x: auto;
  display: none;

  &.is-active {
    display: block;
    animation: active-price 0.5s ease-in-out;
    @keyframes active-price {
      0% {
        opacity: 0;
        transform: translateY(2rem);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__table {
    width: 100%;
    min-width: 35rem;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        border-bottom: 1px solid #ccc;
      }
      
      th {
        background-color: $main-color;
        color: #fff;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        border-right: 1px solid #ccc;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #ccc;
        &:last-of-type {
          border-bottom: none;
        }
      }
      
      th {
        background-color: $main-color;
        color: #fff;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        border-right: 1px solid #ccc;
      }
  
      td {
        padding: 1rem;
        text-align: center;
        background-color: #fff;
        border-right: 1px solid #ccc;
        &:last-of-type {
          text-align: left;
          border-right: none;
        }
      }
    }
  }
}

.p-web {
  display: none;

  &.is-active {
    display: block;
    animation: active-price 0.5s ease-in-out;
    @keyframes active-price {
      0% {
        opacity: 0;
        transform: translateY(2rem);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    @include mq(md) {
      flex-direction: column;
    }
  }

  &__item {
    width: calc(100% / 2 - 20px);
    padding: 2rem;
    background-color: #fff;
    @include mq(md) {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    // color: $main-color;
    line-height: 1;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  &__price {
    font-size: 1rem;
    line-height: 1;
    padding-block: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;

    &-title {
      &:not(:first-of-type) {
        margin-top: 1rem;
      }
    }

    &-price {
      font-size: 2rem;
      font-weight: bold;
      color: $main-color;
      margin-top: 0.75rem;
    }
  }

  &__point {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;

    &-title {
      font-weight: bold;
      text-align: center;
    }
    
    &-list {
      margin-top: 1rem;
      text-align: center;
      // list-style-type: disc;
      // list-style-position: inside;
    }
  }
}

/* ==========================================================================================================
  Flow
  =========================================================================================================== */
.p-flow {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    padding-left: 0;
  }

  &__item {
    list-style-type: none;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
    transition: all $duration-time;
    &:not(:last-child) {
      margin-bottom: 3.125rem;
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }

  &__icon {
    width: 5.625rem;
    box-sizing: border-box;
    padding: 1.25rem 0.625rem 0.625rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background: $main-color;
    border-radius: 5px 5px 0 0;
    position: relative;
    line-height: 125%;
    margin: 0;
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      border-top: 20px solid $main-color;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }

  &__data-list {
    padding-left: 30px;
    width: calc(100% - 115px);
  }

  &__data-title {
    padding: 0 0 5px;
    margin: 0 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 4px solid #CCCCCC;
    position: relative;
    color: #fff;
    &::after {
      content: '';
      width: 20%;
      height: 4px;
      position: absolute;
      bottom: -4px;
      left: 0;
      background-color: $main-color;
    }
  }

  &__data-text {
    margin: 0;
    color: #fff;
  }
}

/* ==========================================================================================================
  Profile
  =========================================================================================================== */
.p-profile {
  color: #fff;

  .wp-block-column {
    svg {
      color: #fff;
    }
  }
}