@use '../../../setting/config' as *;
@use '../../../mixin/_mixin' as *;

/**********************************************
  アーカイブ　ポスト
**********************************************/
.archive-posts {
  @include grid-cols(12);
  @include gap($gap-size);
}

.archive-post {
  @include col-span(12);
  @include hover-move-top-left();
  background-color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 0.5rem;
  &:first-of-type {
    margin-top: 0;
  }

  &__item {
    display: flex;
  }

  &__thumbnail {
    width: 30%;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }

  &__text {
    width: 70%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: bold;
    font-size: $sp-heading-level-2;
    @include mq(tb) {
      font-size: $heading-level-2;
    }
  }
}