@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

/* ==========================================================================================================
  headerレイアウト
  =========================================================================================================== */
  .l-header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
    height: $header-height;
    @include mq(md) {
      height: $sp-header-height;
    }

    &__wrapper {
      width: 100%;
      padding-inline: 2rem;
      @include mq(md) {
        padding-inline: 1rem;
      }
    }
    
    &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &__brandingTitle {
      font-size: 1.5rem;
      font-family: $font-family-branding;
      font-weight: normal;
      color: $main-color;
      &:hover {
        opacity: $opacity;
      }
    }
  }