@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

/* ==========================================================================================================
  sectionレイアウト
  =========================================================================================================== */
.l-section {
  position: relative;
  padding-block: 10rem;

  // &:nth-of-type(odd) {
  //   background-color: $base-color;
  //   @include expand();
  // }
  // &:nth-of-type(odd) {
  //   background-color: #edf8fd;
  //   @include expand();
  // }

  &__wrapper {
    @include container($container-width);
    padding-inline: 0 !important;
  }

  &__sepa-title {
    position: absolute;
    font-size: clamp(4rem, 3.091rem + 4.55vw, 6rem);
    color: #75B7EB;
    opacity: 0.85;
    font-family: "Rubik Dirt", system-ui, sans-serif;
    top: 0;
    transform: translateY(-50%);
  }
  
  &__header {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    color: $main-color;
    &--ja {
      font-size: clamp(2.074rem, 1.923rem + 0.75vw, 2.488rem);
    }
    &--en {
      opacity: $opacity;
    }
  }

  &__body {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

}