@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

/* ==========================================================================================================
  sectionレイアウト
  =========================================================================================================== */
.l-section {
  padding-block: 8rem;
  // @include expand();

  &:first-of-type {
    padding-top: 0;
  }
  &:nth-of-type(even) {
    background-color: $dark-color;
    .l-section__sepa-title {
      color: #fff;
      right: 0;
      left: auto;
      overflow: hidden;
    }
    .l-section__title {
      color: #fff;
    }
  }

  &__wrapper {
    position: relative;
    // @include wrapper($container-width);
  }

  &__sepa-title {
    position: absolute;
    font-size: clamp(4rem, 3.091rem + 4.55vw, 6rem);
    // color: #75B7EB;
    color: $main-color;
    opacity: 0.85;
    font-family: "Rubik Dirt", system-ui, sans-serif;
    top: 0;
    left: 0;
    line-height: 1;
    transform: translateY(-100%);
  }
  
  &__header {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    color: $main-color;
    &--ja {
      font-size: clamp(2.074rem, 1.923rem + 0.75vw, 2.488rem);
    }
    &--en {
      opacity: $opacity;
    }
  }

  &__body {
    margin-top: 4rem;
  }

}