@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

/* ==========================================================================================================
  sectionレイアウト
  =========================================================================================================== */
.l-section {
  
  &__header {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    color: $main-color;
    &--ja {
      font-size: clamp(2.074rem, 1.923rem + 0.75vw, 2.488rem);
    }
    &--en {
      opacity: $opacity;
    }
  }

  &__body {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  &__grid {
    @include grid-cols(1);
    @include gap(80);
  }
}