@use '../../../setting/config' as *;
@use '../../../mixin/_mixin' as *;

/**********************************************
  FV ファーストビュー
**********************************************/
.fv {
  position: relative;
  height: calc( 100vh - $sp-header-height);
  @include mq(tb) {
    height: 40rem;
  }

  &__bg-img {
    height: 100%;
    background-image: url($imgDir + "sp-hero.png");
    background-size: cover;
    background-position: right bottom;
    @include mq(tb) {
      background-image: url($imgDir + "hero.jpg");
    }
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__text {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    @include mq(tb) {
      top: 2rem;
      width: auto;
      height: auto;
      display: block;
    }
  }

  &__catch-copy {
    margin-bottom: 2.5rem;
  }

  &__title {
    font-size: clamp(1.2rem, 1.091rem + 0.55vw, 1.44rem);
    margin-bottom: 2.5rem;
    font-weight: bold;
  }

  &__btn--contact {
    @include button(contact);
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    @include mq(tb) {
      right: 0;
      width: auto;
      transform: none;
      height: 80%;
    }
    
    img {
      height: 100%;
      // width: 100%;
      aspect-ratio: 384.938 / 676;
    }
  }
}