@use '../../../setting/config' as *;
@use '../../../mixin/_mixin' as *;

/**********************************************
  Skill スキル
**********************************************/
.section__border-title--skill {
  &::after {
    content: 'SKILL';
    left: auto;
    right: 0;
  }
}

.section__body--skill {
  display: grid;
  @include grid-cols(1);
  @include gap(16);
}

.skill-post {
  overflow: hidden;
  border: 1px solid $main-color;
  border-radius: $border-radius;
  box-shadow: 0.125rem 0.125rem 0.25rem $main-color;
  background-color: #fff;
  padding: 1rem;
  @include col-span(1);
  @include mq(tb) {
    display: grid;
    @include grid-cols(4);
    @include gap(8);
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq(tb) {
      @include col-span(1);
    }
  }

  &__img {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: bold;
    color: $main-color;
  }

  &__body {
    @include mq(tb) {
      @include col-span(3);
    }
  }

  &__item {
    margin-bottom: 0.25rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__level {
    &--star {
      color: $main-color;
    }
  }

  &__fw {
    display: flex;
    align-items: center;
    img {
      width: 1.25rem;
      aspect-ratio: 1 / 1;
      margin-left: 0.25rem;
    }
  }

  &.skill-post__slide {
    transform: translate( 30px, 30px);
    opacity: 0;
    transition-duration: $duration-time;
    &.slide-in {
      transform: none;
      opacity: 1;
    }
  }
}