@use '../../../setting/config' as *;
@use '../../../mixin/_mixin' as *;

/**********************************************
  Work 実績
**********************************************/
.section__border-title--work {
  &::after {
    content: 'WORK';
  }
}

.section__body--work {
  @include grid-cols(1);
  @include gap($gap-size);

  @include mq(tb) {
    @include grid-cols(2);
  }

  @include mq(pc) {
    @include grid-cols(3);
  }

  .work-post {
    @include mq(tb) {
      @include col-span(1);
    }
  }

  .work-post__rotate {
    transform: rotate(-15deg);
    opacity: 0;
    transition-duration: $duration-time;
    &.rotate-in {
      transform: none;
      opacity: 1;
    }
  }

}
.work__link {
  margin: 2rem auto 0;
  text-align: center;
}
.work__btn {
  display: inline-block;
  margin-inline: auto;
  @include left-to-right-coloring-btn(50%, 4rem, 9999px);
  @include mq(pc) {
    @include left-to-right-coloring-btn(30%, 4rem, 9999px);
  }
}