@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  サイトのベーススタイル(タグ指定)
  JavaScript使用のスタイル
**********************************************/
html {
  scroll-behavior: smooth;
  scroll-padding-top: $sp-header-height;
  @include mq(tb) {
    scroll-padding-top: $header-height;
  }
}

body {
  color: $text-color;
  font-family: $font-family;
  font-size: $sp-font-size;
  letter-spacing: $letter-spacing;
  background-color: $base-color;
  line-height: $line-height;
  @include mq(tb) {
    font-size: 1rem;
  }
}

main {
  overflow: hidden;
}

._pc {
  display: none;
  @include mq(tb) {
    display: block;
  }
}
._sp {
  display: block;
  @include mq(tb) {
    display: none;
  }
}