@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  パンくずリスト
**********************************************/

.breadcrumb {
  &__item {
    display: inline-block;

    &:nth-of-type(n + 2):before {
      content: '';
      display: inline-block;
      transform: rotate(45deg);
      width: 5px;
      height: 5px;
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;
      vertical-align: 3px;
    }

    a {
      // color: #000;
      transition: opacity .6s;
      &:hover {
        opacity: $opacity;
      }
    }
  }
}