@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  その他のモジュール
**********************************************/
// サイトコンテナ
.container {
  max-width: $pc-max-content-width;
  margin: 0 auto;
  padding: 0 3%;
}

// 非表示
.hidden {
  display: none;
}

// スムーススクロールの停止位置
.snap-start {
  scroll-snap-align: start;
}

// 強調文字
.emphasized {
  color: $main-color;
}

// カード表示(クラス名に注意)
.card {
  @include card();
}

// タグのスタイル
.tag {
  @include tag();
}