@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  ページャースタイル
**********************************************/
.pager {
  margin-top: 2rem;
  @include grid-cols(3);
  @include gap(8);
  @include mq(tb) {
    @include gap(16);
    
  }
  
  &__item {
    text-align: center;
    margin-top: 0.5rem;
    overflow: hidden;
    @include col-span(3);
    @include mq(tb) {
      margin-top: 0;
      @include col-span(1);
    }
    &--prev {
      @include mq(tb) {
        @include col-start(1);
      }
    }
    &--return {
      @include mq(tb) {
        @include col-start(2);
      }
    }
    &--next {
      @include mq(tb) {
        @include col-start(3);
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5rem 2rem;
    background-color: #F3F3F3;
    transition-duration: $duration-time;
    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}