@use '../../../setting/config' as *;
@use '../../../mixin/_mixin' as *;

/**********************************************
  singleページ　bodyブロック
**********************************************/
.article__body {
  padding: 3rem 5%;

  .wp-block-heading,
  .wp-block-image,
  .wp-block-table,
  p,
  a,
  ul,ol,
  nav {
    margin-top: 2rem;
  }
  
  .wp-block-heading {
    font-weight: bold;
  }

  h2.wp-block-heading {
    font-size: $sp-heading-level-2;
    background: #f7f7f7;
    font-weight: normal;
    padding: 20px 15px 18px;
    border-left: 9px solid $main-color;
    line-height: 40px;
    &:first-of-type {
      margin-top: 0;
    }
    @include mq(tb) {
      font-size: $heading-level-2;
    }
  }
  
  h3.wp-block-heading {
    font-size: $sp-heading-level-3;
    letter-spacing: 1.6px;
    padding: 0 15px;
    border-left: 9px solid $main-color;
    line-height: 2;
    @include mq(tb) {
      font-size: $heading-level-3;
    }
  }
  
  h4.wp-block-heading {
    letter-spacing: 1.6px;
    padding: 0 10px;
    border-bottom: 0.2rem solid $main-color;
    line-height: 2;
    @include mq(tb) {
      font-size: $heading-level-4;
    }
  }

  h5.wp-block-heading {
    letter-spacing: 1.6px;
    padding: 0 10px;
    border-bottom: 1px solid $main-color;
    line-height: 2;
  }

  h6.wp-block-heading {
    letter-spacing: 1.6px;
    padding: 0 10px;
    border-bottom: 1px dashed $main-color;
    line-height: 2;
  }


  .wp-block-image {
    border: none;
    width: 100%;
  }

  ul,
  ol {
    // margin-top: 40px;
    padding-left: 40px;
    padding-right: 10px;
    list-style: inside;
    list-style-position: inside;
    ul,
    ol {
      margin-top: 10px;
      list-style-type: circle;
      ul,
      ol {
        margin-top: 10px;
        list-style-type: square;
      }
    }

    li {
      margin-bottom: 10px;
    }
  }

  nav {
    margin-top: 60px;
  }
}